@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($rows: 1fr 1fr 1fr auto auto, $row-gap: 1.6rem, $jc: center, $ai: center);
    margin: 1.6rem 0;

    @include all.desktop{
        @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    }

    >.hero-img{
        grid-row: 1/4;
        @include all.desktop{
            grid-area: 1/1/5/2;
        }

        >img{
            height: auto;
            width: 100%;
        }

        >.photo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: auto;
        }
    }

    .logo{
        display: none;
        @include all.desktop{
            display: block;
            grid-area: 1/3/2/4;
            justify-self: center;
            align-self: end;
        }
    }

    .social{
        display: none;
        @include all.desktop{
            display: block;
            grid-area: 1/4/2/5;
            justify-self: end;
            align-self: center;

            >a{
                display: block;
            }
        }
    }

    >.title{
        grid-row: 4/5;
        text-align: center;

        @include all.desktop{
            grid-area: 2/2/3/5;
        }

        // h1{
        //     font-size: 4.8rem;
        //     font-family: "Anta", sans-serif;
        // }

        h2{
            font-size: 2.4rem;
            // font-family: "Josefin Sans", sans-serif;
        }
    }

    >button{
        grid-row: 5/6;

        @include all.desktop{
            grid-area: 3/2/5/5;
        }
    }
}