@use "../../../../public/assets/styles/all-styles.scss" as all;

section {
    @include all.grid($rows: repeat(3, auto), $columns: 6% 1fr 6%);
    max-width: 1440px;

    @include all.desktop {
        @include all.grid($rows: 1fr 1fr 1fr, $columns: 5% 45% 45% 5%);
        height: 100%;
        max-height: 100%;
    }

    .images-wrapper {
        grid-area: 1/2/2/3;

        @include all.desktop {
            grid-area: 1/2/4/3;
            @include all.grid();
        }

        .bg-shape-wrapper {
            grid-area: 1/1/2/2;
            pointer-events: none;
            @include all.grid();

            >.bg-shape {
                grid-area: 1/1/2/2;
                height: auto;
                max-height: 95%;
                width: auto;
                max-width: 95%;
                object-fit: contain;
                align-self: end;
                justify-self: center;
                transition: opacity 400ms ease, transform 400ms ease;

                @include all.bigscreen{
                    max-width: 100%;
                }
            }

            >.shape-hover {
                opacity: 0;
            }
        }

        >.img-wrapper {
            @include all.grid();

            @include all.desktop {
                grid-area: 1/1/2/2;
                
            }

            >.photo {
                padding-top: 1.6rem;
                justify-self: center;
                object-fit: contain;
                
                @include all.notebook{
                    height: 60dvh;
                    width: 100%;
                }

                @include all.mobile{
                    width: 100%;
                    height: 50dvh;
                }

                @include all.desktop{
                    height: auto;
                    max-height: 95%;
                    width: auto;
                    max-width: 95%;
                    object-fit: contain;
                    align-self: end;
                    justify-self: center;
                    padding-top: 0;
                }

                @include all.bigscreen{
                    max-width: 100%;
                }
            }
        }

        &:hover {
            .bg-shape-wrapper {
                >.shape-hover {
                    opacity: 1;
                }

                >.shape-normal {
                    opacity: 0;
                }
            }
        }
    }

    .logo-wrapper {
        display: none;

        @include all.desktop {
            grid-area: 1/3/2/4;
            justify-self: center;
            align-self: end;
            @include all.grid();
            cursor: pointer;
            pointer-events: auto;
        }

        >.logo {
            grid-area: 1/1/2/2;
            height: 65px;
            width: auto;
            transition: opacity 250ms ease, transform 250ms ease;
        }

        >.logo-hover {
            opacity: 0;
        }

        &:hover {
            >.logo-hover {
                opacity: 1;
            }

            >.logo-normal {
                opacity: 0;
            }
        }
    }

    .social {
        display: none;

        @include all.desktop {
            display: block;
            grid-area: 1/3/2/4;
            justify-self: end;
            align-self: end;
            @include all.flex($fd: column, $gap: 0.8rem);
        }
    }

    >.title {
        grid-area: 2/2/3/3;
        text-align: center;
        place-self: center;

        @include all.desktop {
            grid-area: 2/3/3/4;
            place-self: center;
        }

        h1 {
            font-size: 4.5rem;
            color: all.$secondary-color;
            margin-bottom: 0.8rem;
        }

        h2 {
            font-size: 2.2rem;
            color: all.$secondary-color;
            font-family: "Josefin Sans", sans-serif;
            margin-bottom: 2.5rem;
        }
    }

    >a {
        grid-area: 3/2/4/3;
        place-self: start center;

        @include all.desktop {
            grid-area: 3/3/4/4;
            place-self: center;
        }

        >img {
            height: 80px;
        }
    }
}