@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($rows: 1fr 1fr 1fr auto auto, $row-gap: 1.6rem, $jc: center, $ai: center);
    margin: 1.6rem 0;
    text-align: center;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }

    form{
        .field{
            border: 1px solid all.$primary-color;
            border-radius: 8px;
            margin: 0.8rem;
        }
    }
}