@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($row-gap: 1.6rem, $jc: center, $ai: center);
    margin: 1.6rem 0;
    text-align: center;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }
    .location{
        @include all.flex($gap: 0.8rem);
        
        p{
            overflow: hidden;
            white-space: nowrap;
            margin: 0 auto;
            animation: typing 3.5s steps(30, end);
        }

        img{
            height: 3rem;
        }
    }
}

@keyframes typing{
    from {width: 0} to {width: 100%}
}