@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    background-color: all.$primary-color;
    padding: 0.8rem 0;

    .content{
        @include all.flex($jc: space-between);
    }
}
