@use "../../../public/assets/styles/all-styles.scss" as all;

.main-page-wrapper{
    @include all.grid($rows: auto auto 1fr auto);

    @include all.desktop{
        >app-navbar{
            grid-row: 2/3;
        }
        >app-hero{
            grid-row: 1/2;
        }
    }
}
