@mixin mobile{
    @media (max-width: 640px){
        @content;
    }
}

@mixin tablet{
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet-min{
    @media (min-width: 769px) {
        @content;
    }
}

@mixin notebook{
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin bigscreen{
    @media (min-width: 1920px) {
        @content;
    }
}