@mixin flex($fd: row, $jc: center, $ai: center, $gap: 0){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin grid($rows: null, $columns: null, $gap: null, $row-gap: null, $column-gap: null) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    gap: $gap;
    row-gap: $row-gap;
    column-gap: $column-gap;
}
