$background-color: #262e34;
$primary-color: #89bcd9;
$secondary-color: #F8F5EC; 
$inactive-color: #bfc1c3;
$error-color: #E44C36;
$done-color: #97E163;

$section-spacing: 4rem 0;
$gap-spacing: 3.2rem;
$navbar-height: 90px;