@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($row-gap: 1.6rem, $ji: center, $ai: center);
    margin: 1.6rem 0;
    text-align: center;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }

    .skill-icons{
        @include all.flex($gap: 4rem);
        flex-wrap: wrap;
    }

    .currently-learning-title{
        color: all.$primary-color;
    }

    .currently-learning-content{
        @include all.grid($columns: 50% 50%, $ai: center);
        
        p{
            grid-column: 1/2;
            text-align: left;
        }

        .currently-learning-icons{
            @include all.grid();
            
            .skills-bg-shape{
                grid-area: 1/1/2/2;
                width: 80%;
                place-self: center;
            }

            >div{
                @include all.flex($gap: 0.8rem);
                grid-area: 1/1/2/2;
            }
        }
    }
}