@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($row-gap: 1.6rem, $jc: center, $ai: center);
    margin: 1.6rem 0;
    text-align: left;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }

    .references-container{
        @include all.flex();
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }

        >div{
            @include all.grid();
            width: 80%;
            // height: 300px;
            
            
            >img{
                grid-area: 1/1/2/2;
                // width: 80%;
                height: 100%;
            }
    
            >div{
                grid-area: 1/1/2/2;
                // width: 80%;
            }
        }
    }
}