@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($row-gap: 1.6rem);
    margin: 1.6rem 0;
    text-align: left;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }

    .references-container{
        @include all.flex($gap: 1.6rem, $jc: flex-start);
        min-width: 100%;
        min-height: 200px;
        padding: 0 5%;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}