@use "../../../../public/assets/styles/all-styles.scss" as all;

section {
    @include all.grid($ji: center, $ai: center);
    padding: all.$section-spacing;

    @include all.desktop {
        padding: 4rem 0 0;
    }

    nav {
        @include all.flex($jc: flex-left, $gap: 0.4rem);
        width: 100%;
        padding-top: 2.5rem;

        @include all.desktop {
            font-size: 24px;
            padding-left: 7%;
            margin-top: 1.6rem;
        }

        >button {
            padding: 1.6rem;
            border-radius: 12px 12px 0 0;
            color: all.$primary-color;
            font-weight: 500;

            &:hover {
                color: all.$secondary-color;
            }
        }

        .active {
            background-color: #2d383f;
            color: all.$secondary-color;
        }
    }

    >app-project {
        width: 100%;
    }
}