@use "../../../../public/assets/styles/all-styles.scss" as all;

section{
    @include all.grid($ji: center, $ai: center);
    margin: 1.6rem 0;
    text-align: center;
    // width: 100%;

    // @include all.desktop{
    //     @include all.grid($rows: repeat(4, 1fr), $columns: 50% 1fr 1fr 1fr);
    // }

    nav{
        @include all.flex();
        width: 100%;

        >button{
            padding: 0.8rem;
            border-radius: 12px 12px 0 0;
        }

        .active{
            background-color: #2d383f;
        }
    }

    >div{
        background-color: #2d383f;
    }
}