@use "../public/assets/styles/all-styles.scss" as all;

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url(../public/assets/fonts/josefin-sans-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/assets/fonts/anta-regular.woff2) format('woff2');
}

* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: initial;
    background-color: initial; 
}

html{
    font-size: 10px;

    @include all.tablet-min{
        font-size: 13px;
    }

    @include all.desktop{
        font-size: 16px;
    }
}

body{
    font-family: "Josefin Sans", sans-serif;
    background-color: all.$background-color;
    color: all.$secondary-color;
    font-size: 16px;
}

body:has(dialog[open]){
    overflow: hidden
}

// #region Website Layout
.content-wrapper{
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

.layout{
    @include all.grid($columns: 6% 1fr 6%);
}

.layout > *{
    grid-column: 2;
}
// #endregion

// #region Headings other element styling
h1, h2, h3, h4, h5, h6{
    color: all.$primary-color;
    font-family: "Anta", sans-serif;
}

h1{
    font-size: 4.8rem;
    font-weight: normal;
}

h2{
    font-size: 3rem;
    font-weight: normal;
}

h3{
    font-size: 2.2rem;
}

h4{
    font-size: 2rem;
}

p{
    line-height: 1.2;
    font-weight: 340;
}

a{
    color: all.$primary-color;

    &:hover{
        color: all.$secondary-color;
    }
}
// #endregion

// #region Legal pages
.legal-page-article {
    padding: 5rem 0;
    hyphens: auto;

    h1 {
        font-size: 3rem; 
        padding: 0 0 16px;
        font-weight: normal;
    }
    h2 {
        font-size: 2rem; 
        margin: 24px 0 0;
        font-weight: normal;
    }
    h3{
        font-size: 1.8rem; 
        margin-top: 16px;
        font-weight: normal;
    }

    h4, h5, h6{
        font-size: 1.6rem; 
        margin-top: 16px;
        font-weight: normal;
    }

    ul {
        padding-left: 24px;
    }
    p {
        margin-top: 8px;
    }
    li{
        list-style: square;
    }
}
// #endregion

// #region Button styles
button{
    cursor: pointer;
}

.primary-btn{
    background-color: all.$primary-color;
    border: 1px solid all.$primary-color;
    color: all.$background-color;
    border-radius: 24px;
    padding: 10px 20px;

    &:hover{
        background-color: all.$secondary-color;
        border-color: all.$secondary-color;
        color: all.$background-color;
    }
}

.secondary-btn{
    background-color: all.$background-color;
    border: 1px solid all.$primary-color;
    color: all.$primary-color;
    border-radius: 24px;
    padding: 10px 20px;
    
    &:hover{
        background-color: rgba(248, 245, 236, 0.12);
    }
}

.inactive-btn{
    background-color: all.$background-color;
    border: 1px solid all.$inactive-color;
    color: all.$inactive-color;
    border-radius: 24px;
    padding: 10px 20px;
}
// #endregion

// #region Above the fold and fragment jumps
app-navbar{
    position: sticky;
    top:0;
    z-index: 100;
    height: all.$navbar-height;
}

app-hero{
    @include all.notebook{
        height: calc(100dvh - all.$navbar-height);
        max-height: calc(100dvh - all.$navbar-height);
    }

    @include all.desktop{
        height: clamp(560px, calc(92dvh - all.$navbar-height), 860px);
    }
}

.anchor{
    position: absolute;
    top: -(all.$navbar-height); 
    height: 1px;
    width: 1px;
}
// #endregion

// #region Buttons image exchange on hover
.icon-link{
    display: inline-grid;
}

.icon-link .icon{
    grid-area: 1 / 1 / 2/ 2;
}

.icon-hover{
    display: none;
}

@include all.desktop{
    .icon-link:hover .icon-normal,
    .icon-link:focus-visible .icon-normal{
        display: none;
    }

    .icon-link:hover .icon-hover,
    .icon-link:focus-visible .icon-hover{
        display: block;
    }
}
// #endregion

// #region Utility classes
.desktop-only{
    @include all.notebook{
        display: none;
    }
}
        
.mobile-only{
    @include all.desktop{
        display: none;
    }
}
// #endregion

