@use "../../../../public/assets/styles/all-styles.scss" as all;

footer {
    background-color: all.$primary-color;
    height: 23rem;
    @include all.flex();

    @include all.desktop {
        height: 11rem;
    }

    .layout {
        @include all.desktop {
            @include all.grid($columns: 8% 1fr 8%);
        }

        .content {
            @include all.flex($fd: column, $gap: 1rem);

            @include all.desktop {
                @include all.grid($columns: 1fr 1fr 1fr, $ai: end);
            }

            .logo {
                place-self: center;

                @include all.desktop {
                    grid-area: 1/2/2/3;
                }

                >img{
                    height: 65px;
                    width: auto;
                }
            }

            .social-nav {
                place-self: center;

                @include all.desktop {
                    grid-area: 1/3/2/4;
                    place-self: end;
                }

                ul {
                    @include all.flex($gap: 2.4rem);

                    @include all.desktop {
                        @include all.flex($gap: 0.8rem);
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .legal {
                @include all.flex($gap: 1.6rem);
                color: all.$background-color;

                >a {
                    color: all.$background-color;
                    font-weight: 340;
                }

                @include all.desktop {
                    grid-area: 1/1/2/2;
                    @include all.flex($fd: column, $ai: flex-start, $gap: 0.4rem);

                    >a:hover {
                        color: all.$secondary-color;
                    }
                }

                @media (max-width: 400px) {
                    @include all.flex($fd: column, $gap: 0.4rem);
                }
            }
        }
    }
}