@use "../../../../public/assets/styles/all-styles.scss" as all;

footer{
    @include all.grid($rows: 1fr 0.5fr 0.5fr);
    // align-items: center;
    // justify-items: center;
    padding: 1.6rem 0;
    background-color: all.$primary-color;

    >*{
        padding: 0.8rem 0;
    }

    a{
        place-self: center;
    }

    nav{
        place-self: center;
        ul{
            @include all.flex($gap: 2.4rem);
        }
    }
    
    div{
        @include all.flex($jc: space-around);
        color: all.$background-color;

        >a{
            color: all.$background-color;
        }
    }
}